# ----------------------
# Visual Studio / VSCode
# ----------------------
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln
*.pyproj
*.toml

# ----------------------
# Python virtual envs
# ----------------------
env/
venv/
.venv/
ENV/

# ----------------------
# Python build artifacts
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ----------------------
# OS junk
# ----------------------
.DS_Store
Thumbs.db


# ----------------------
# Data Folders
# ----------------------
# Ignore everything inside example_data
example_data/*
# But keep the directory itself
!example_data/.gitkeep

# Ignore everything inside synthetic_data
synthetic_data/*
# But keep the directory itself
!synthetic_data/.gitkeep
