# ----------------------
# Visual Studio / VSCode
# ----------------------
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln
*.pyproj
*.toml

# ----------------------
# Python virtual envs
# ----------------------
env/
venv/
.venv/
ENV/

# ----------------------
# Python build artifacts
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ----------------------
# OS junk
# ----------------------
.DS_Store
Thumbs.db


# Data
example_data/
synthetic_data/
synthetic_data/*.tmp
